# Byte-compiled / cache files
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.ipynb_checkpoints/

# Environments
venv/
.venv/
env/
.env

# Raw Datasets (Not committed to Git)
data/raw/
data/*.zip
data/*.csv


# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
